/* Fonts */
@font-face {
  font-family: "SF Pro Text";
  src: url("/assets/fonts/sf-pro-text_regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("/assets/fonts/sf-pro-text_semibold.woff2") format("woff2");
  font-style: medium;
  font-weight: 600;
}

/* Colors */
:root {
  --nav-color: rgba(0, 0, 0, 0.8);
  --background-color: #fbedf9;
  --red-background: #e34140;
  --black: #1d1d1f;
  --white: #f5f5f7;
  --pink: #fec2eb;
  --gray: #f5f5f7;
  --link-color: #06c;
  --gray-text: #6e6e73;
  --footer-link-color: #424245;
  --light-gray-color: #d2d2d7;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Elements */
html {
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}

body {
  font-family: "SF Pro Text";
}

header,
section {
  padding: 44px 0;
}

hr {
  border: none;
  height: 0.1rem;
  background-color: var(--light-gray-color);
  margin: 1vh 0;
}

/* General */
.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

.pink {
  color: var(--pink);
}

.small-margin {
  margin: 0.5rem 0;
}

.medium-margin {
  margin: 1rem 0;
}

.big-margin {
  margin: 1.5rem 0;
}

/* Headers */
.section-title {
  text-align: center;
  font-size: 5.6rem;
  letter-spacing: 0;
  font-weight: 600;
  letter-spacing: -0.2rem;
}

.section-secondary-title {
  font-size: 2.8rem;
  font-family: 400;
}

/* Links */
/* unvisited link */
.main-link:link {
  color: var(--link-color);
  font-size: 2.1rem;
  text-decoration: none;
}

/* visited link */
.main-link:visited {
  color: var(--link-color);
}

/* mouse over link */
.main-link:hover {
  color: var(--link-color);
  text-decoration: underline;
}

/* selected link */
.main-link:active {
  color: var(--link-color);
}

.main-link::after {
  right: -16px;
  transform: rotate(-45deg);
}

.main-link {
  position: relative;
}

a:after {
  color: black;
  border-right: 0.2rem solid var(--link-color);
  border-bottom: 0.2rem solid var(--link-color);
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  top: 37%;
}

a:after {
  right: -16px;
  transform: rotate(-45deg);
}

/*  Navigation */

.main-nav {
  background-color: var(--nav-color);
  font-size: 1.2rem;
  height: 44px;
  line-height: 44px;
  z-index: 1;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
}

/* unvisited link */
.main-nav a:link {
  color: var(--light-gray-color);
  text-decoration: none;
  padding: 0 1rem;
  margin: 0 1rem;
  display: inline-block;
}

/* visited link */
.main-nav a:visited {
  color: var(--light-gray-color);
}

/* mouse over link */
.main-nav a:hover {
  color: var(--white);
}

/* selected link */
.main-nav a:active {
  /* color: #f5f5f7; */
}

.main-nav span {
  display: inline-block;
  padding: 0 0.2rem;
}

.main-nav img {
  overflow: hidden;
  height: auto;
  object-position: bottom;
}

.main-nav img {
  filter: contrast(50%);
}

.main-nav img:hover {
  filter: none;
}

/* Header */
.gifts-header {
  background-color: var(--background-color);
  text-align: center;
}

.shop-now {
  background-color: var(--red-background);
  color: white;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 1.4rem;
}

.gifts-title {
  padding: 44px 0;
}

.apple-gift {
  margin-bottom: 1.5rem;
}

.gifts-images-container {
  display: flex;
  justify-content: center;
}

.gifts-images-container figure {
  margin: 0 2.4rem;
}

.gifts-images-container img {
  animation: 2s rotation linear forwards;
}

/* iphone Pro section */
.iphone-pro-section {
  text-align: center;
  height: 70vh;
  background-image: url("../assets/img/hero_iphone_13pro.jpg");
  background-position: center 40%;
  margin: 1vh;
}

/* iphone section */
.iphone-section {
  text-align: center;
  height: 70vh;
  background-image: url("../assets/img/hero_iphone_13.jpg");
  background-position: center 40%;
}

/* footer */
.homepage-footer {
  background-color: var(--gray);
  padding: 1.5rem 0;
  color: var(--gray-text);
}

.homepage-footer h6 {
  font-size: 1.2rem;
  color: var(--black);
  font-weight: 600;
  margin: 1vh 0;
}

.footer-container {
  max-width: 980px;
  margin: 0 auto;
  font-size: 1.2rem;
}

.terms {
  margin-bottom: 2vh;
}

.terms p {
  margin-bottom: 1rem;
  line-height: 1.6rem;
}

.copyright {
  display: flex;
  margin-bottom: 2vh;
}

.footer-location {
  margin-left: auto;
}

.footer-links {
  margin-bottom: 3vh;
  display: grid;
  grid-template-areas:
    "shop-and-learn shop-and-learn services services apple-store for-business apple-values"
    "shop-and-learn shop-and-learn services services apple-store for-business apple-values"
    "shop-and-learn shop-and-learn services services apple-store for-business apple-values"
    "shop-and-learn shop-and-learn services services apple-store for-business apple-values"
    "shop-and-learn shop-and-learn services services apple-store for-education apple-values"
    "shop-and-learn shop-and-learn services services apple-store for-education apple-values"
    "shop-and-learn shop-and-learn services services apple-store for-education apple-values"
    "shop-and-learn shop-and-learn services services apple-store for-education apple-values"
    "shop-and-learn shop-and-learn services services apple-store for-education apple-values"
    "shop-and-learn shop-and-learn services services apple-store for-healthcare about-apple"
    "shop-and-learn shop-and-learn services services apple-store for-healthcare about-apple"
    "shop-and-learn shop-and-learn services services apple-store for-healthcare about-apple"
    "shop-and-learn shop-and-learn services services apple-store for-healthcare about-apple"
    "shop-and-learn shop-and-learn services services apple-store for-healthcare about-apple"
    "shop-and-learn shop-and-learn account  account  apple-store for-government about-apple"
    "shop-and-learn shop-and-learn account  account  apple-store for-government about-apple"
    "shop-and-learn shop-and-learn account  account  apple-store for-government about-apple"
    "shop-and-learn shop-and-learn account  account  apple-store for-government about-apple";
}

.shop-and-learn {
  grid-area: shop-and-learn;
}
.services {
  grid-area: services;
}
.account {
  grid-area: account;
}
.apple-store {
  grid-area: apple-store;
}
.for-business {
  grid-area: for-business;
}
.for-education {
  grid-area: for-education;
}
.for-healthcare {
  grid-area: for-healthcare;
}
.for-government {
  grid-area: for-government;
}
.apple-values {
  grid-area: apple-values;
}
.about-apple {
  grid-area: about-apple;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  margin-bottom: 1vh;
}

.homepage-footer a:link {
  color: var(--footer-link-color);
  text-decoration: none;
}

/* visited link */
.homepage-footer a:visited {
  color: var(--footer-link-color);
}

/* mouse over link */
.homepage-footer a:hover {
  text-decoration: underline;
}

/* selected link */
.homepage-footer a:active {
}

.homepage-footer .way-to-shop:link {
  color: var(--link-color);
}

.homepage-footer .way-to-shop:visited {
  color: var(--link-color);
}

.copyright-reserved {
  margin-right: 3rem;
}

.copyright-nav a {
  border-right: 0.1rem solid var(--light-gray-color);
  padding-right: 1rem;
  margin-right: 1rem;
}

.copyright-nav a:last-child {
  border-right: none;
  margin-right: 0;
}

/*  Keframes */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(5deg);
  }
}
